@model IEnumerable<CSharp5_Share.Models.ComboItems>

@{
    ViewData["Title"] = "ShowAllComboItem";
}

<h1>ShowAllComboItem</h1>

<p>
    <a asp-action="CreateComboItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComboItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComboItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditComboItem", new {  id=item.ComboItemID  }) |
                    @Html.ActionLink("Details", "ComboItemDetail", new {  id=item.ComboItemID  }) |
                    @Html.ActionLink("Delete", "DeleteComboItem", new {  id=item.ComboItemID  })
            </td>
        </tr>
}
    </tbody>
</table>
