@model IEnumerable<CSharp5_Share.Models.Cart>
@using CSharp5_Share.Models;

@{
    var lisUser =  ViewBag.Users as List<User>;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Desciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @{
                    foreach(User u in lisUser)
                    {
                        if (item.UserID == u.UserID)
                        {
                            <p>@u.Name</p>;
                        }
                    }
                }
            </td>
            <td>
                    <a asp-action="EditCart" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="CartDetail" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="DeleteCart" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
