@model IEnumerable<CSharp5_Share.Models.User>

@{
    ViewData["Title"] = "ShowAllUser";
    List<string> imageExtension = new List<string>() // list chứa đuôi định dạng của ảnh
    {
        ".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf", ".webp"
    };
}

<h1>ShowAllUser</h1>

<p>
    <a asp-action="CreateUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                    @{
                        string extension = System.IO.Path.GetExtension(item.ImgUser);
                    }
                    @if (imageExtension.Contains(extension.Trim()))
                    {
                        <img src="~/images/@item.ImgUser" height="100px">
                    }
                    else
                    {
                        <img src="~/images/default.png" height="100px">
                    }
            </td>
            <td>
                    <a asp-action="EditUser" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="UserDetail" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
